@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic:400,600&display=swap');


:root{
    /* theme colors */
    --text-gray: #c4d6e9;
    --bg-color: #100e17;

    /*  theme font-family */
    --lexend: 'Lexend Deca', sans-serif;
    --livvic: 'Livvic', sans-serif;

    /* gradient colors */
    --sky :  linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); /* 010 Winter Neva */
}

/* ------------------ navbar ----------------- */
body {
    display: flex;
    flex-wrap: wrap;
    color:#d3cecc;
  }

    .main-header, .footer {
      flex: 1 100%;
    }
  .sidebar {
    flex: 1;
  }
  .main {
    flex: 2;
  }
  
footer {
    position:fixed;
    left:0rem;
    bottom:0rem;
    height:30rem;
    width:100%;
   
 }

