/* @import "bourbon"; */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';

body {
   font-family: "Raleway";
  height: 100%;
    display: flex;
    flex-wrap: wrap;
    color:#d3cecc;
    background: #100e17;
  }

    .main-header, .footer {
      flex: 1 100%;
    }
  .sidebar {
    flex: 1;
  }
  .main {
    flex: 2;
  }
  
footer {
  color: aliceblue;
    position:fixed;
    left:0rem;
    bottom:0rem;
    height:3rem;
    width:100%;
    background: #100e17;
    text-align: center;
   
 }

