

.calendar {
 
  background:#332f2e; 
  border-radius:5px; 
  overflow:hidden; 
  display:block; 
  margin-bottom:10px; 
  box-shadow:0 0 10px #201d1c; 
  margin:0 auto; 
  
}

.month-year {
  font-weight:700; 
  color:#f7f3eb; 
  display:block; 
  margin:18px 0 0 0; 
  text-transform:uppercase; 
  text-align:center; 
  letter-spacing:1px;
}

.calendar span {
  font-weight:400;
  color:#f7f3eb;
  text-align:center;
  width:42px;
  height:42px;
  display:inline-block;
  float:left;
  overflow:hidden;
  line-height:30px;
}

