
body {
    display: flex;
    flex-wrap: wrap;
  }
  body > * {
    background: #212122;
    padding: 2rem;
    text-align: center;
    border: 5px solid white;
    color:white;
  }
  
  .header,
  .footer {
    flex: 1 100%;
  }
  .sidebar {
    flex: 1;
  }
  .main {
    flex: 2;
  }
  
  footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
   
 }