
body {
    display: flex;
    flex-wrap: wrap;
  }
  body > * {
    background: #100e17;
    padding: 2rem;
    text-align: center;
    border: 5px solid white;
    color:#ff590e;
  }
  
  header {
    position: relative;
    z-index: 1000;
    display: flex;
    background: #100e17;
    border-bottom: 1px solid #201c29;
    /* -webkit-animation: none; */
    animation: none;
}

  .header,
  .footer {
    flex: 1 100%;
  }
  .sidebar {
    flex: 1;
  }
  .main {
    flex: 2;
  }
  
  footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
   
 }